*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans", serif;
}

:root{
    --toboo-bg-white: #ffffff;
    --toboo-bg-lightgrey: #f6f8f9;
    --toboo-button-skyblu: #47adf1;
    --toboo-button-lightgrey: #d5dadd;
    --toboo-skyblu: #45abe9;
    --toboo-purple: #9c72e4;
    --toboo-green: #64c0a8;
    --toboo-orange: #f29e33;
    --toboo-pink: #d863a0;
    --toboo-lightgreen: #b0c926;
    --toboo-check-green: #90d3c3;
    --toboo-cross-red: #ee736d;
}

body{
    background-color: var(--toboo-bg-lightgrey);
}

#title{
    display: inline-block;
    font-size: 42px;
    vertical-align: top;
}

.site_header{
    padding-left: 2rem;
    background-color: var(--toboo-bg-white);
}

.container{
    width: 80%;
    margin: 38px auto;
    background-color: var(--toboo-bg-white);
    padding-left: 150px;
    padding-bottom: 1rem;
    border-radius: 2rem;

}

.nav_button{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#button_task{
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border-color: var(--toboo-button-skyblu);
    background-color: var(--toboo-button-skyblu);
    color: var(--toboo-bg-white);
}

#button_section{
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border-color: var(--toboo-button-lightgrey);
    background-color: var(--toboo-bg-white);
    color: var(--toboo-button-lightgrey);
}

.section{
    margin-top: 2rem;
}

.entity_arrow{
    font-size: 2rem;
}

.section_title{
    display: inline-block;
    vertical-align: top;
}

.list{
    list-style-type: none;
    font-weight: 600;
}

.entity_check{
    border: 3px solid var(--toboo-check-green);
    border-radius: 50%;
    color: var(--toboo-check-green);
    font-size: 1rem;
    font-weight: 1000;
    padding: 0.25rem;
    margin-right: 0.5rem;

}

.entity_cross{
    border: 3px solid var(--toboo-cross-red);
    border-radius: 50%;
    color: var(--toboo-cross-red);
    font-size: 1rem;
    font-weight: 1000;
    padding: 0.25rem;
    margin-right: 0.5rem;
}

.editorial{
    background-color: var(--toboo-skyblu);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    color: var(--toboo-bg-white);
    font-size: 12px;
    margin-left: 0.5rem;
}

.item{
    margin-bottom: 1rem;
}

.Q1_goals{
    background-color: var(--toboo-purple);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    color: var(--toboo-bg-white);
    font-size: 12px;
    margin-left: 0.5rem;
}

.recruiting{
    background-color: var(--toboo-green);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    color: var(--toboo-bg-white);
    font-size: 12px;
    margin-left: 0.5rem;
}

.mobile{
    background-color: var(--toboo-orange);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    color: var(--toboo-bg-white);
    font-size: 12px;
    margin-left: 0.5rem;
}

.website{
    background-color: var(--toboo-pink);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    color: var(--toboo-bg-white);
    font-size: 12px;
    margin-left: 0.5rem;
}

.sales{
    background-color: var(--toboo-lightgreen);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    color: var(--toboo-bg-white);
    font-size: 12px;
    margin-left: 0.5rem;
}

.footer{
    font-weight: 600;
    margin: 2rem;
}